.page-header
  %h1 
    Editing a ticket
    %small 
      as 
      = current_user.full_name
      to project
      = @project.name
= render 'form'
%br/
= render 'avaliable_attachments'
%br/
= render 'attachments_form'
%a.btn.btn-default{:href => project_path(@project)}
  Back to 
  = @project.name