.page-header
  %h1 Projects
- @projects.each do |project|
  .row
    .col
      %h3
        .col-md-8
          = link_to project.name, project_path(project)
        .col-md-offset-8
          Leader :
          = mail_to  User.find(project.user_id).email, User.find(project.user_id).full_name
      %h4
        .col-md-4
          Created at: 
          = project.created_at.strftime('%F %T')
        .col-md-offset-6
          Tickets in total :
          = @project_counters[project.id].sum
      %h5
        .col-md-3
          Active tickets: 
          = @project_counters[project.id][0]
        .col-md-3
          Finished tickets: 
          = @project_counters[project.id][1]
        .col-md-3
          Cancelled tickets: 
          = @project_counters[project.id][2]
%br/
%a.btn.btn-default{:href => new_project_path}
  Add a new project