.page-header
  %h1
    Project name :
    %mark
      = @project.name
    %small
      Leader :
      = mail_to @project.user.email, @project.user.full_name
= simple_format(@project.description, {}, wrapper_tag: 'div')
%br
.btn-group
  - if can? :edit, @project
    =link_to "Edit project", edit_project_path(@project), method: :get, class: "btn btn-default"
  - if can? :delete, @project
    =link_to "Delete project", project_path(@project), method: :delete, class: "btn btn-default", data: { confirm: 'Do you really want to delete this project?' }
%br
.page-header
  %h1
    Tickets
%br
.table-responsive
  %table.table.table-condensed
    %tr.info
      %th
        ID
      %th
        Name
      %th
        Leader
      %th
        Participants
      %th
        Priority
      %th
        Difficulty
      %th
        Ticket options
    - @tickets.each do |ticket|
      %tr{class: (ticket.status == 0 ? "active" : (ticket.status == 1 ? "success" : "warning"))}
        %td
          = ticket.id
        %td
          = ticket.name
        %td
          toDo
        %td
          toDo
        %td{id: (ticket.priority == 1 ? "verylow" : (ticket.priority == 2 ? "low" : ticket.priority == 3 ? "medium" : ticket.priority == 4 ? "high" : "veryhigh"))}
          = ticket.get_priority
        %td{id: (ticket.difficulty == 1 ? "verylow" : (ticket.difficulty == 2 ? "low" : ticket.difficulty == 3 ? "medium" : ticket.difficulty == 4 ? "high" : "veryhigh"))}
          = ticket.get_difficulty
        %td
          .btn-group
            =link_to "Show", project_ticket_path(@project, ticket), method: :get, class: "btn btn-default"
            - if can? :edit, ticket
              =link_to "Edit", edit_project_ticket_path(@project, ticket), method: :get, class: "btn btn-default"
            - if can? :delete, ticket
              =link_to "Delete", project_ticket_path(@project, ticket), method: :delete, class: "btn btn-default", data: { confirm: 'Do you really want to delete this ticket?' }
%br/
.btn-group
  - if can? :create, @project
    =link_to "Add a ticket to this project", new_project_ticket_path(@project), method: :get, class: "btn btn-default"
  =link_to "Back to projects list", projects_path, method: :get, class: "btn btn-default"
