.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Ticket Machine
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        - if current_page?(projects_path)
          %li.active= link_to "Projects list", projects_path, method: :get
        - else
          %li= link_to "Projects list", projects_path, method: :get
        - if current_page?("/")
          %li.active= link_to "My tickets(WIP)", "/", method: :get
        - else
          %li= link_to "My tickets(WIP)", "/", method: :get
        - if user_signed_in?
          %li= link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          %li= link_to "Sign in", new_user_session_path, method: :get
          %li= link_to "Sign up", new_user_registration_path, method: :get
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          - if current_page?(edit_user_registration_path)
            %li.active= link_to "Edit profile (logged in as " + current_user.full_name + ")", edit_user_registration_path, method: :get
          - else
            %li= link_to "Edit profile (logged in as " + current_user.full_name + ")", edit_user_registration_path, method: :get